body{
  background-color: #F7E7CE;
  font-family: 'Josefin Slab', serif;
  margin: 0;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  height: 50px;
}
.header{
  text-decoration: none;
  color: black;
  margin: auto;
}
.slideshow{
display: flex;
justify-content: center;
max-width: inherit;
max-height: inherit;
}
.footer{
  background-color: white;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 0px;
  background-image: url("sand.jpg");
}
img{
  max-width: 100%;
  display:block;
  height: auto;
}
@media only screen
  and (min-device-width: 800px){
    .header{
      font-size: 30px;
    }
    .lada{
      display: flex;
      flex-direction: row;
    }
    .menytext{
      visibility: hidden;
    }
    .infotext{
      display: none;
    }
  }
@media only screen
  and (max-device-width: 500px)
  and (orientation: portrait) {
    .header{
      font-size: 15px;
    }
    .slideshow{
    display: flex;
    align-items: center;
    }
    .grillbild{
      width: 300px;
    }
    footer{
      visibility: hidden;
    }
    .menybyte{
      height: 50px;
    }
    .lada{
      display: flex;
      flex-direction: column;
    }
    .klick , .menybyte{
      display: none;
    }
    .menytext{
      background-image: url("menybak.jpg");
      margin-top: 20px;
    }
    .mat , .dryck{
      display: flex;
      flex-direction: column;
      align-items: center;
    }


}
@media only screen
  and (min-device-width: 501px)
  and (max-device-width: 799px){
    .header{
      font-size: 30px;
    }
    .grillbild{
      width: 700px;
    }
    .lada{
      display: flex;
      flex-direction: row;
    }
    .menytext{
      visibility: hidden;
    }
    .footer{
      margin-bottom: 0;
    }

}
.meny{
display: flex;
flex-direction: column;
justify-content: center;
}
.light{

}
.dark{

}
.hidden{
  display: none;
}
.menybyte{

}
.banderoll{
background-color: white;
}
.helicopter{
    background-color: white;
    margin: 10px;
    flex-grow: 5;
}
.mer{
  background-color: white;
  margin: 10px;
  flex-grow: 3;
}
.banderoll{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.banner {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: banner 30s linear infinite;
}
@keyframes banner {
    0%   { text-indent: 27em }
    100% { text-indent: -50em }
}
p, a, h2{
  margin: 10px;
  text-decoration: none;
}
.jet{
  display: flex;
  align-self: center;
}
.slides{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.knappar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.knapp{
width: 100px;
}
.slides img{
  width: 100vw;
  height: 100%;
}
.infotext{
  display: flex;
justify-content: center;
}
